node_red_web_app.json
[{"id":"1a12ef53.2808b1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fde5a35e.3257c","type":"mqtt in","z":"1a12ef53.2808b1","name":"","topic":"my_topic2","qos":"2","datatype":"auto","broker":"49bc356f.e4f93c","x":320,"y":340,"wires":[["160e1539.80297b","3dd80557.37fcda"]]},{"id":"160e1539.80297b","type":"debug","z":"1a12ef53.2808b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":480,"wires":[]},{"id":"fc3fa94a.d2b448","type":"ui_template","z":"1a12ef53.2808b1","group":"d34b3686.faef38","name":"Location","order":1,"width":"7","height":"7","format":"<script>\nvar theScope = scope;\n(function(scope){\n    scope.$watch('msg.payload', function(msg) {\n        var k1 = 221;\n        var k2 = 151;\n        if (msg.nothing == 1) {\n            document.getElementById(\"nosig\").innerHTML = 'NO BEACONS AVAILABLE!';\n            document.getElementById(\"loc\").innerHTML = '';\n        }\n        var canvas=document.getElementById(\"gameCanvas\"),\n        ctx = canvas.getContext(\"2d\");\n        canvas.style.width = \"364px\";\n        canvas.style.height = \"299px\";\n        var scale = window.devicePixelRatio;\n        canvas.width = 364*scale;\n        canvas.height = 299*scale;\n        ctx.scale(scale, scale);\n        beacons(306, 123, msg.signals[\"c4:52:32:5c:31:e7\"]);\n        beacons(288, 149, msg.signals[\"d0:4e:10:2e:cb:84\"]);\n        beacons(279, 142, msg.signals[\"ea:01:26:75:a4:c3\"]);\n        beacons(264, 114, msg.signals[\"ca:81:7a:d7:55:49\"]);\n        beacons(243, 144, msg.signals[\"e4:e0:0a:ae:fd:e2\"]);\n        beacons(220, 144, msg.signals[\"e9:3c:4a:34:13:fb\"]);\n        beacons(225, 217, msg.signals[\"ed:61:e4:e8:22:30\"]);\n        beacons(190, 187, msg.signals[\"e7:2b:ea:2f:95:c5\"]);\n        beacons(163, 141, msg.signals[\"f0:ec:af:cf:6c:e1\"]);\n        beacons(235, 244, msg.signals[\"d4:32:fc:b5:f0:b5\"]);\n        beacons(113, 122, msg.signals[\"d5:b7:dc:69:ca:ae\"]);\n        beacons(71, 171, msg.signals[\"d9:5f:f5:4f:10:89\"]);\n        beacons(129, 175, msg.signals[\"c2:b6:6e:70:fa:f7\"]);\n        beacons(133, 104, msg.signals[\"c9:a6:4d:9b:c0:8c\"]);\n        beacons(140, 104, msg.signals[\"fa:35:76:56:6f:e3\"]);\n        \n        ctx.beginPath();\n        ctx.fillStyle = \"rgba(11, 52, 99, 1)\";\n        ctx.fillRect(300, 240, 5,5);\n        ctx.fillStyle = \"black\";\n        ctx.fillText(\" - Beacons\", 305,245);\n        ctx.beginPath();\n        ctx.fillStyle = \"rgba(92, 179, 0, 1)\";\n        ctx.fillRect(299, 254, 7,7);\n        ctx.fillStyle = \"black\";\n        ctx.fillText(\" - Available\", 305,259);\n        ctx.fillText(\" beacons\", 312,269);\n        ctx.beginPath();\n        ctx.arc(303,280, 3, 0, 2 * Math.PI, false);\n        ctx.fillStyle = \"rgba(245, 37, 37, 1)\";\n        ctx.fill()\n        ctx.beginPath();\n        ctx.fillStyle = \"black\";\n        ctx.fillText(\" - Location\", 305,283);\n        ctx.fill();\n        var r = 12;\n        if (msg.nothing==0) {\n            if (msg.probability > 90) {\n                r = 9;\n            }\n            else if (msg.probability > 75) {\n                r = 12;\n            }\n            else if (msg.probability > 60) {\n                r = 16;\n            }\n            else if (msg.probability > 45) {\n                r = 24;\n            }\n            else {\n                r = 28;\n            }\n            ctx.beginPath();\n            ctx.arc(msg.coordinates[0], msg.coordinates[1], r, 0, 2 * Math.PI, false);\n            ctx.fillStyle = \"rgba(245, 37, 37, 0.4)\";\n            ctx.fill();\n            \n            ctx.beginPath();\n            ctx.fillStyle = \"rgba(245, 37, 37, 1)\";\n            ctx.arc(msg.coordinates[0], msg.coordinates[1], 3, 0, 2 * Math.PI, false);\n            ctx.fill();\n            \n            document.getElementById(\"loc\").innerHTML = 'Location accuracy : ' + msg.probability + '%';\n            document.getElementById(\"nosig\").innerHTML = '';\n        \n        }\n\n        \n        ctx.beginPath();\n        ctx.fillStyle = \"black\";\n        ctx.font = \"20px Georgia\";\n        ctx.fillText(\"ENTC Building\", 30,40);\n        ctx.fillText(\"2nd Floor\", 30,60);\n    });\n    \n})(scope)\n\n\nfunction beacons(X, Y, signal) { \n    var canvas=document.getElementById(\"gameCanvas\"), \n    ctx = canvas.getContext(\"2d\"); \n    ctx.beginPath();\n    var S = (signal > -150) ? 6:4;\n    var C = (signal > -150) ? \"rgba(92, 179, 0, 1)\":\"rgba(11, 52, 99, 1)\";\n    ctx.fillStyle = C;\n    ctx.fillRect(X, Y, S,S); \n    \n    ctx.fill(); \n    \n}\n\n</script>\n<div id=\"container\">\n    <img class='img' src=\"https://i.ibb.co/JmBbSY4/floormap-2.jpg\" alt=\"\" width='365' height='300'/>\n    <canvas id=\"gameCanvas\" width=\"320\" height=\"240\" style=\"border:1px solid #d3d3d3;\"></canvas>\n</div>\n<div>\n    <h4 id=\"nosig\"></h4>\n</div>\n<div>\n    <h4 id=\"loc\"></h4>\n</div>\n<style>\nbody{text-align: center;background: #f2f6f8;}\n.img{\n  position: absolute;\n  z-index:1;\n  }\n\n#container{\n    display:inline-block;\n    width:366px; \n    height:301px;\n    margin: 0 auto; \n    background: black; \n    position:relative; \n    border:1px solid black; \n    border-radius: 1px; }\n\n#gameCanvas{\n    position:relative;\n    z-index:20;\n}\n\n#nosig{\n    color:darkred;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":160,"wires":[[]]},{"id":"3dd80557.37fcda","type":"json","z":"1a12ef53.2808b1","name":"","property":"payload","action":"","pretty":false,"x":460,"y":240,"wires":[["24dcadcd.398e82","fc3fa94a.d2b448"]]},{"id":"2317e937.f51686","type":"debug","z":"1a12ef53.2808b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":340,"wires":[]},{"id":"24dcadcd.398e82","type":"trigger","z":"1a12ef53.2808b1","op1":"","op2":"Last known location is shown","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":650,"y":300,"wires":[["2317e937.f51686","347c8470.9bb4fc"]]},{"id":"347c8470.9bb4fc","type":"ui_toast","z":"1a12ef53.2808b1","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Device not available","name":"Last known location is shown","x":870,"y":400,"wires":[]},{"id":"49bc356f.e4f93c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d34b3686.faef38","type":"ui_group","z":"","name":"Device Location","tab":"71bece42.6af4a","disp":true,"width":"7","collapse":false},{"id":"71bece42.6af4a","type":"ui_tab","z":"","name":"Indoor Localization","icon":"dashboard","disabled":false,"hidden":false}]
